<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>PTModelSprite_ID3296</key>
		<dict>
			<key>frame</key>
			<string>{{0, 216}, {200, 200}}</string>
			<key>offset</key>
			<string>{0.0, -0.0}</string>
			<key>rotated</key>
			<string>false</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200, 200}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>PTModelSprite_ID3300</key>
		<dict>
			<key>frame</key>
			<string>{{1721, 0}, {200, 200}}</string>
			<key>offset</key>
			<string>{0.0, -0.0}</string>
			<key>rotated</key>
			<string>false</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200, 200}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>PTModelSprite_ID3303</key>
		<dict>
			<key>frame</key>
			<string>{{1517, 0}, {200, 200}}</string>
			<key>offset</key>
			<string>{0.0, -0.0}</string>
			<key>rotated</key>
			<string>false</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200, 200}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>PTModelSprite_ID3306</key>
		<dict>
			<key>frame</key>
			<string>{{1313, 0}, {200, 200}}</string>
			<key>offset</key>
			<string>{0.0, -0.0}</string>
			<key>rotated</key>
			<string>false</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200, 200}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>PTModelSprite_ID3393</key>
		<dict>
			<key>frame</key>
			<string>{{1109, 0}, {200, 200}}</string>
			<key>offset</key>
			<string>{0.0, -0.0}</string>
			<key>rotated</key>
			<string>false</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200, 200}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>PTModelSprite_ID3396</key>
		<dict>
			<key>frame</key>
			<string>{{905, 0}, {200, 200}}</string>
			<key>offset</key>
			<string>{0.0, -0.0}</string>
			<key>rotated</key>
			<string>false</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200, 200}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>PTModelSprite_ID4307</key>
		<dict>
			<key>frame</key>
			<string>{{0, 0}, {901, 212}}</string>
			<key>offset</key>
			<string>{0.0, -0.0}</string>
			<key>rotated</key>
			<string>false</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {901, 212}}</string>
			<key>sourceSize</key>
			<string>{901, 212}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<string>2</string>
		<key>realTextureFileName</key>
		<string>atlas_ID3297.png</string>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>smartupdate</key>
		<string>$Potion:Smartupdate:$</string>
		<key>textureFileName</key>
		<string>atlas_ID3297.png</string>
	</dict>
</dict>
</plist>
